{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
    <h1>Привет, я автор</h1>
    <p>
      Меня зовут Илья! В своей жизни я люблю две вещи: литературу и пленочную фотографию. 
      Этот сайт был создан для того, чтобы объединить эти начала. С недавних пор я также увлекаюсь программированием, однако пока не могу назвать это любимой вещью. 
      В любом случае, надеюсь эта соцсеть принесет всем ее пользователем удовольствие. Добро пожаловать!
    </p>
<div>    
{% endblock %}